.header {
    padding: 64px 0 94px 0;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 0 42px;
    }

    &-link {
        color: #33323D;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.header-link-2 {
    color: #5FB4A2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}